@font-face {
  font-family: "Linotte-Bold";
  src: url(./fonts/Linotte-Bold.ttf);
}
@font-face {
  font-family: "Linotte-Regular";
  src: url(./fonts/Linotte-Regular.ttf);
}
body {
  margin: 0;
}
#container {
  padding: 20px;
  background: #81d0e1;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
#background img {
  width: 100%;
}
.icon_circle {
  position: absolute;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  padding: 8px 7px;
  text-align: center;
  top: 20px;
  opacity: 70%;
  z-index: 1;
  transition: all 0.5s ease;
}
.icon_circle:hover {
  opacity: 100%;
  box-shadow: #81d0e1 0 0 0 2px, rgba(255, 255, 255, 0.5) 0 0 0 4px,
    inset #81d0e1 0 0 0 3px, inset rgba(255, 255, 255, 0.3) 0 0 0 4px;
}
#mail {
  display: inline-block;
  left: 20px;
}
#mail_text {
  display: block;
  position: absolute;
  font-family: "Linotte-Regular", sans-serif;
  font-size: 20px;
  width: 220px;
  color: #ffffff;
  top: 37px;
  left: 55px;
  transform: translate(0, 10px);
  transition: all 0.5s ease;
  opacity: 0;
}
.icon_circle:hover #mail_text {
  display: block;
  transform: translate(0, -25px);
  opacity: 1;
}
#twitter {
  right: 179px;
}
#facebook {
  right: 103px;
}
#icon {
  right: 27px;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 440px);
}
#main h1 {
  margin: 0;
  font-family: "Linotte-Bold", sans-serif;
  font-size: 83px;
  line-height: 97px;
  letter-spacing: 0.975em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}
#bouncer_pulse {
  position: absolute;
  top: 16px;
  left: 136px;
  width: 40px;
  height: 40px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  opacity: 0.7;
  animation: bouncer_pulse 3s infinite;
}
#main span {
  position: relative;
}
#main_text {
  font-family: "Linotte-Regular", sans-serif;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);

  margin-bottom: 41px;
}
#main_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 61px;
}
#main_img img {
  width: 100%;
  transition: all 0.5s ease;
  margin-right: 10px;
}
#main_img img:hover {
  transform: scale(1.1);
}
#computer_mouse {
  position: absolute;
  bottom: 50px;
  left: calc(50% + 13px);
  animation: computer_mouse_move 2s ease-in infinite;
}
#arrow_1 {
  position: absolute;
  bottom: 33px;
  left: calc(50% + 18px);
  animation: arrow_move 2s linear infinite;
}
#arrow_2 {
  position: absolute;
  bottom: 21px;
  left: calc(50% + 18px);
  animation: arrow_move 2s linear infinite;
}
@keyframes bouncer_pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
    opacity: 0;
    /* transition-duration: 3s; */
  }
}
@keyframes computer_mouse_move {
  0% {
    transform: translate(0, -10px);
  }
  30% {
    transform: translate(0);
  }
  50% {
    transform: translate(10);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes arrow_move {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  30% {
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
